{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - {{ about.name }}</title>
{% endblock %}

{% block content %}


        <div id="wrapper">
            <img src="{{ about.avatar_url }}" alt="{{ about.name }}">
            <h1>{{ about.name }}</h1>
            <h2>{{ about.role }}</h2>
            <p>{{ about.description }}</p>
        </div> 
        
        <div id="links-footer" class="links">
            <a href="https://www.linkedin.com/in/felipemsanto/" target="_black"><img src="assets/img/Icons/linkedin.png" alt="Linkedin"></a>
            <a href="https://www.facebook.com/francisco.ferreira.140/" target="_black"><img src="assets/img/Icons/facebook.png" alt="Facebook"></a>
            <a href="https://www.youtube.com/channel/UC2bS-aCNBs8oGBTtN7HlwMQ/featured?view_as=subscriber" target="_black"><img src="assets/img/Icons/youtube.png" alt="Facebook"></a>
        </div>
        

{% endblock %}

    </body>
</html>