{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Francisco Ferreira</title>
{% endblock %}

{% block content %}


        <div id="wrapper">
            <img src="assets/img/frank.png" alt="Francisco Ferreira">
            <h1>Francisco Ferreira</h1>
            <h2>Professor de Matemática</h2>
        <p>Sempre tentando fazer o melhor para isso e aquilo, um texto ai.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec 
            maximus.
        </p>

        </div> 
        
        <div id="links-footer" class="links">
            <a href="https://www.linkedin.com/in/felipemsanto/" target="_black"><img src="assets/img/Icons/linkedin.png" alt="Linkedin"></a>
            <a href="https://www.facebook.com/francisco.ferreira.140/" target="_black"><img src="assets/img/Icons/facebook.png" alt="Facebook"></a>
            <a href="https://www.youtube.com/channel/UC2bS-aCNBs8oGBTtN7HlwMQ/featured?view_as=subscriber" target="_black"><img src="assets/img/Icons/youtube.png" alt="Facebook"></a>
        </div>
        

{% endblock %}

    </body>
</html>