{% extends "layout.njk" %}

{% block head %}

<title>Aulas - Francisco Ferreira</title>        

{% endblock %}

{% block content %}

        <div id="wrapper-class">
            <h1>Aulas</h1>
        </div>

        <section class="cards">
           
           {% for item in items %}

            <div class="card" id="{{item.id}}">     
                <div class="card__image-container {{ 'featured-wrapper' if item.featured }}">
                    <img src="{{ item.image }}" alt="Imagem de {{item.title}}">
                    {% if item.featured%}
                        <div class="featured">Featured</div>
                    {% endif %}   
                </div>
                <div class="card__conteudo">
                    <p>{{item.title}}</p>
                </div>
                <div class="card__info">
                    <p class="card__price">{{item.duration}}</p>
                </div>
            </div>
            
            {% endfor %}
           
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <img src="assets/img/Icons/close.png" alt="close">
                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>

                </div>

            </div>
        </div>

        <script src="scripts.js"></script>

        {% endblock %}