@import "https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap";

:root{
    --color-green: #50fa7b;
    --color-human_videos: rgb(236, 135, 122); 
}




* {
    margin: 0;
    padding: 0;
    border: 0;
                }

body {
    background: #282a36;
    font-family: 'Raleway', sans-serif;
    color: white;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;

}

.links a:hover {
    color: var(--color-human_videos);
}

#wrapper-class {
    text-align: center;
    padding: 40px;
}

#wrapper {
    text-align: center;
    padding-top: 60px;
}

#wrapper img {
    border-radius: 50%;
    border: 3px solid  var(--color-human_videos);
    margin-bottom: 32 px;
    width: 300px;

}


#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    padding-top: 40px ;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 9px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 34px;
}

wrapper p a {
    color: var(--color-green);
}

#links-footer {
position:absolute;
bottom:25px;
width:100%;
}

#links-footer img {
    /*opacidade*/
    opacity: 0.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
    -webkit-filter: opacity(0.75);
    /*filtro P/B*/
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    /*qualidade*/
    image-rendering: auto;
    width: 50px;
    }

#links-footer img:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    -webkit-filter: opacity(1);
    filter: none;
    /* Firefox 10+ */
    -webkit-filter: grayscale(0%);
    /* Chrome 19+ & Safari 6+ */
    image-rendering: auto;
  }

/*=== CARDS ===*/

.cards {
    max-width: 800px;
    margin: 0 auto ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:25px;
    cursor: pointer; 
}

.card {
   background-color: var(--color-human_videos);
   display: grid; 
}

.card__image-container img {
    width: 100%;
}

.card__conteudo, 
.card__info {
    padding:24px;
} 

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card__price {
    background-color:var(--color-human_videos);
    filter: brightness(80%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/* ==== MODAL ===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width:  100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0%;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    position: absolute;  
    right: 8px;
    top: 8px;
    cursor: pointer;  
}

/* ==== MODAL.ACTIVE===*/

.modal-overlay.active {
   opacity: 1; 
   visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}